@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("../images/boxers.jpg");
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    display: grid;
    place-items: center;
}

#container {
    width: 700px;
    height: 300px;
    background-color: whitesmoke;
    align-items: center;
    justify-content: center;
    margin-top: 120px;
    border-radius: 30px 30px;
}

/*  begin */

#begin {
    text-align: center;
    cursor: pointer;
}

#begin:hover {
    background: gray;
    color: black;
}

/* rule */

#rule {
    height: auto;
    width: 500px;
    padding: 20px;
    background: whitesmoke;
    border-radius: 30px 10px;
    border: 2px solid black;
}

#rule h3 {
    font-size: 19px;
    color: black;
}

#rule h4 {
    height: 20px;
    width: 90%;
    display: flex;
    align-items: center;
    font-size: 15px;
}

#rule #button {
    height: 50px;
    width: 100%;
    display: flex;
   justify-content: flex-end;
}

.input {
    border: 3px solid black;
    background-color: whitesmoke;
    color: black;
    padding: 10px 25px;
    font-size: 20px;
    cursor: pointer;
    border-color: black;
    color: black;
    margin-top: 20px;
}
.btn {
    border: 2px solid black;
    background-color: black;
    color: black;
    padding: 10px 25px;
    font-size: 16px;
    cursor: pointer;
    border-color: black;
    color: whitesmoke;
  }
  
.btn:hover {
    background-color: grey;
    color: black;
  }

  .myform {
    text-align: center;
    margin-top: 10px;
  }