@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/boxers.jpg');
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.brand-logo{
  font-size: 200%;
    margin-left: 1rem;
    justify-content: space-evenly;
    color: whitesmoke;
    display: flex;
}

.form {
  width: 270px;
  height: 330px;
  color: black;
  background-color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 25px;
  border-radius: 10px;
}

.form h2{
  width: 220px;
  text-align: center;
  padding-left: 10px;
  font-size: 35px;
  margin-bottom: 20px;
}

.form p{
  padding-bottom: 15px;

}

.form input {
  width: 100%;
  height: 35px;
  padding-top: 5px;
  margin-bottom: 30px;
  background: transparent;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
}

.form input[type="submit"]{
  width: 60%;
  margin-left: 50px;
  border: none;
  height: 40px;
  color: whitesmoke;
  background-color: black;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
}

.form input[type="submit"]:hover {
  cursor: pointer;
  background: black;
  color:whitesmoke;
  font-weight: bold;
}
 
.quiz-container{
  width: 50%;
  height: 340px;
  background: white;
  padding: 3rem 7rem;
  border-radius: 0.5rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 25px;
  border-radius: 10px;
}

ul li{
  list-style: none;
  color: black;
  margin: 0.5rem;
}

label{
  cursor: pointer;
  font-size: 1.2rem;
  background-color: white;
}

h3 {
  font-size: 1.5rem;
}

div .btn{
  display: flex;
  justify-content: space-between;
}

button{
  margin-top: 2rem;
  width: 100px;
  padding: 0.3rem 1rem;
  border-radius: 0.2rem;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  background: grey;
}

#quit_button{
  background-color: whitesmoke;
  
}

#progress-bar{
  width: 60px;
  left: 50%;
  background-color: black;
}

.feedback{
  background: white;
  padding: 50px 100px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.emoji{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 30px;
  overflow: hidden;
}

.emoji img{
  width: 80px;
  margin: 0 10px;
}

#emojis{
  display: flex;
  align-items: center;
  transform: translateX(-400px);
  transition: 0.3s;
}

.ratings .fa-solid{
 font-size: 40px;
 color: #e4e4e4;
 cursor: pointer;
}





/* Media Queries */

/* for large screens size from 900px wide and down */
@media screen and (max-width: 950px) {
  body {
    height: 70vh;
  }

  .quiz-container {
    width: 76%;
    
  }
  
  h3{
    font-size: 26px;
  }
  label{
    font-size: 24px;
  }



  .form input[type="submit"] {
    margin-left: 40px;
  }

  .form p{
    font-size: 20px;
  }
}


/*For medium screens size from 800px wide and down */
@media screen and (max-width: 800px) {
  body {
    height: 67vh;
  }

  .quiz-container{
    width: 73%;
   
  }

  .form {
    width: 55%;
    left: 49%;
  }

  .form input[type="submit"] {
    margin-left: 60px;
  }
  
  h3{
    font-size: 20px;
  }

  label{
    font-size: 18px;
  }
}



/*For small screens size from 400px wide and down */
@media  screen and (max-width: 400px) {
  .quiz-container{
    width: 83%;
    height: 65%;
  }

  .brand-logo {
    margin-left: 0rem;
  }

  .form{
    width: 76%;
    height: 54%;
  }

  h3{
    font-size: 20px;
  }

  label{
    font-size: 18px;
  }
  .form input[type="submit"] {
    margin-left: 37px;
  }

}


#progress-bar {
  width: 100%;
  background-color: #ddd;
}

#myBar {
  width: 0%;
  height: 30px;
  background-color: #04AA6D;
}

#question-count-container{
  color: white;
}