@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('../images/boxers.jpg');
    font-family: 'Poppins', sans-serif;
    background-size: cover;
    background-position: center;
    height: 100vh;
    background-repeat: no-repeat;
}

header{
  margin-bottom: 3rem;
  background: #9187874f;
    padding: 1rem;
}

nav{
  display: flex;
  justify-content: space-between;
}

ul{
  display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 20px;
}

.brand-logo{
  font-size: 200%;
    margin-left: 1rem;
    justify-content: space-evenly;
    color: whitesmoke;
    display: flex;
}

.form {
  width: 50%;
  color: rgb(16, 9, 9);
  background-color: whitesmoke;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px 25px;
  border-radius: 10px;
}

.form h2{
  width: 220px;
  text-align: center;
  padding-left: 10px;
  font-size: 35px;
  margin-bottom: 20px;
}

.form p{
  padding-bottom: 15px;
  font-size: 15px;
}

.form input {
  width: 100%;
  height: 35px;
  margin-bottom: 30px;
  background: transparent;
  border-bottom: 1px solid black;
  border-top: none;
  border-left: none;
  border-right: none;
  padding: 2rem;
}

.form input[type="submit"]{
  width: 60%;
  margin-left: 50px;
  border: none;
  height: 40px;
  color: whitesmoke;
  background-color: black;
  font-size: 16px;
  font-weight: bold;
  border-radius: 10px;
}

.form input[type="submit"]:hover {
  cursor: pointer;
  background: black;
  color:whitesmoke;
  font-weight: bold;
}
 
.quiz-grid{
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 20px auto;
  background: #000000c7;
  padding: 42px;
}
.quiz-grid > *{
  margin: 0 20px;
  align-self: center;
}
.quiz-container {
  width: 50%;
  background: white;
  padding: 3rem 7rem;
  border-radius: 0.5rem;
  padding: 40px 25px;
  height: 90vh;
}

#options{
  display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

#emoji img{
  width: 300px;
}

ul li{
  list-style: none;
  color: black;
  margin: 0.5rem;
}

.quiz-container .answers-indicator{
  border-top: 1px solid grey;
}

.quiz-container .answers-indicator div{
  height: 30px;
  width: 30px;
  display: inline-block;
  background-color: gray;
  border-radius: 50%;
  margin-top: 20px;
  margin-right: 3px;
}

label{
  cursor: pointer;
  font-size: 1.2rem;
  background-color: white;
}

h3 {
  font-size: 1.5rem;
}

div .btn{
  display: flex;
  justify-content: space-between;
}

#options button{
  margin-top: 2rem; 
  /* width: 70%; */
  padding: 1.3rem 1rem;
  cursor: pointer;
}

#quit_button{
  align-self: center;
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  margin-right: 1rem;
  cursor: pointer;
}

#progress-bar {
  width: 60%;
  background-color: white;
  margin-right: 7%;
  border: 2px solid;
  border-radius: 10px;
}

.counter-container{
  display: flex;
  justify-content: center;
}

#myBar {
  height: 30px;
  border-radius: 10px;
}

h4{
  font-size: 20px;
  color:dimgray;
}

#feedback{
  width: 22rem;
  background: white;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  display: none;
}

.wrapper{
  margin: 2rem 0;
}

.text{
  margin-bottom: .5rem;
  font-size: 1rem;
  text-align: center;
}

#start-again{
  padding: 13px 24px;
}

.emoji{
  display: flex;
  justify-content: center;
}

.emoji > div:not(:first-child){
  margin-left: 1rem;
}

.emoji > div{
  cursor:pointer;
  transition: transform 2s ease-in;
}

.emoji > div:hover{
  transform: scale(1.4);
}

.textarea{
  width: 100%;
  display: block;
  background-color: white;
  border: none;
  resize: none;
  border: none;
  outline: none;
  height: 0;
  opacity: 0;
  transition: all .6s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.textarea--active{
  padding: 1rem;
  opacity: 1;
  height: 6rem;
}

.btn{
  text-decoration: none;
  color: black;
  padding: .4rem 1rem;
  border-radius: 4px;
  background-color: whitesmoke;
  position: absolute;
  right: .5rem;
  bottom: .5rem;
  display: none;
}

.btn--active{
  display: inline-block;
}

#feedback{
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  overflow: auto;
  background-color: rgb(0 0 0 / 90%);
}

.feedback-content {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  height: 60vh;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 3rem;
}

/* Media Queries */
/* for large screens size from 900px wide and down */

@media screen and (max-width: 950px) {

  .quiz-container {
    width: 74%;
    padding: 3px 34px;
    height: 90vh;
  }
  
  h3{
    font-size: 20px;
  }

  label{
    font-size: 24px;
  }

  .quiz-grid{
    flex-direction: column;
  }

  #options {
    grid-template-columns: 1fr;
}
  .form input[type="submit"] {
    margin-left: 40px;
  }

  .form p{
    font-size: 20px;
  }

  #emoji img {
    width: 220px;
    margin-top: 2rem;
  }


}


/*For medium screens size from 800px wide and down */
@media screen and (max-width: 800px) {
  body {
    height: 67vh;
  }

  .quiz-container{
    width: 73%;
   
  }

  .form {
    width: 55%;
    left: 49%;
  }

  .form input[type="submit"] {
    margin-left: 60px;
  }
  
  h3{
    font-size: 16px;
  }

  label{
    font-size: 18px;
  }
}

/*For small screens size from 400px wide and down */

@media  screen and (max-width: 400px) {
  .quiz-container{
    width: 83%;
    height: 65%;
  }

  .brand-logo {
    margin-left: 0rem;
    font-size: 140%;
  }

  .form{
    width: 76%;
    height: 54%;
  }

  .form p{
    font-size: 15px;
  }

  .form input{
    width: 88%;
    height:30px;
    margin-bottom: 24px;
    padding: 1rem;
  }

  h3{
    font-size: 15px;
  }

  label{
    font-size: 18px;
  }

  .form input[type="submit"] {
    margin-left: 37px;
  }

  #options button {
    margin-top: 0rem;
    padding: 0.3rem 1rem;
    cursor: pointer;
  }

  #options {
    gap: 3px;
  }
}

#question-count-container{
  color: white;
}